<h2>Room Login </h2>

<form>
  <div>
    <label for="roomname">Roomname:</label>
    <input type="text" [(ngModel)]="roomname" name="roomname">
    <label for="pin">Room pin:</label>
    <input type="password" [(ngModel)]="pin" name="pin">
    <button type="button" (click)="onLogin()">Login</button>
    <h3 *ngIf="notFoundOrWrongPin">Wrong Room or Pin..</h3>
  </div>
</form>
<h3>Create new room</h3>
<div>
  <label for="newRoomname">Roomname:</label>
  <input type="text" [(ngModel)]="newRoomname">
  <button type="button" (click)="onCreateRoom()">Create</button>
  <h3 *ngIf="newRoomExists">Room already exists! Try another one!</h3>
  <h3 *ngIf="newRoomCreated">Room created! Store Pin-code in secure place, Do Not Lose It! :) <br> PIN: {{newRoomPin}}</h3>
</div>
