<h1>Welcome to room: {{room.name}} <button (click)="exitRoom()">Exit</button></h1>

<div [ngClass]="{'readytrue': item.ready}" *ngFor="let item of items">
  <h3>{{item.name}} ( {{item.brand}} )<button (click)="deleteItem(item)">X</button></h3>
  <h4>Quantity: {{item.qty}} ( {{item.unit}} ) <button (click)="changeItemStatus(item)" *ngIf="!item.ready">Bought?</button><button (click)="changeItemStatus(item)" *ngIf="item.ready">Not Bought?</button></h4>
  <hr>
</div>

<button (click)="showNewItemForm()">Add new Item</button>

<div *ngIf="isAddItem">
    <h1>New Item</h1>
    <form>
      <div>
        <label for="name">Name: </label><br>
        <input #name type="text" name="name">
      </div>
      <div>
        <label for="brand">Brand: </label><br>
        <input #brand type="text" name="brand">
      </div>
      <div>
        <label for="quantity">Quantity: </label><br>
        <input #quantity type="number" name="quantity">
      </div>
      <div>
        <label for="unit">Unit: </label><br>
        <input #unit type="text" name="unit">
      </div>
      <button (click)="addItem(name.value, brand.value, quantity.value, unit.value)">Add to Room</button>
    </form>
  </div>
